@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=general-sans@500,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'General Sans', sans-serif;
  }
}

.pharma-glow {
  background-image: radial-gradient(#45c486, transparent, transparent);
}

.chat-glow {
  background-image: radial-gradient(#f7b500, transparent, transparent);
}

.gpu-glow {
  background-image: radial-gradient(#ff02fb, transparent, transparent);
}

.upright {
  rotate: 90deg;
  transform: scaleX(-1);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.5s ease-in-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.code-font {
  font-family: 'Source Code Pro', monospace;
}

.blinker {
  animation: blinker 1s infinite;
}

.expand-section {
  animation: open 1s cubic-bezier(0.33, 0.18, 0, 1.01);
  font-weight: 500;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

.bar-slide {
  animation: barSlide 2s ease-in-out;
  animation-fill-mode: forwards;
}

.slide-down {
  animation: slideDown 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.slide-up {
  animation: slideUp 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.slide-right {
  animation: slideRight 0.5s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.slide-left {
  animation: slideLeft 0.5s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.comment-slide {
  animation: commentSlide 0.5s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

.bounce {
  animation: bounce 0.5s ease-in-out infinite;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  animation-delay: 1.5s;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes commentSlide {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes barSlide {
  0% {
    transform: scale(1.5);
  }
  35% {
    transform: scale(1);
  }
  50% {
    transform: rotate(15deg);
  }
  65% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes open {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
